# Ignore directories
Code/
discord/

# Ignore specific file types
*.tmp

# Ignore files or directories in specific subdirectories
.subdir/secret_file
.subdir/secret_folder/

# Properly ignore entire directories inside .config
.config/Youtube Music/
.config/Miru/
.config/cef_user_data/
.config/hypr/wallpapers/
.config/VirtualBox/
.config/torbrowser/
.config/spicetify/
.config/spotify/
.config/qBittorrent/
.config/libreoffice/
.config/tmux/plugins/


# Catch any cache directories
**/*Cache*/
